/* Цвет основнго текста #757575 */

/* Вторичный текст текста #212121 */

/* Белый цвет #FFFFFF */

/* Акцент #2196F3 */

/* Цвет текста в футере rgba(255, 255, 255, 0.6) */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-bg-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --second-button-bg-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.logo-black {
  color: var(--title-text-color);
}
.logo-white {
  color: var(--primary-white-color);
}
.list {
  list-style: none;
}
.nav-link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link.current {
  color: var(--accent-color);
}
.contact-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.secondary-button {
  background-color: var(--second-button-bg-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--second-bg-color);
}
.address {
  font-style: normal;
}
.map-link {
  color: var(--primary-white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}

.secondary-contact-link {
  color: var(--footer-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}

.map-link:hover,
.map-link:focus {
  color: var(--accent-color);
}
.secondary-contact-link:hover,
.secondary-contact-link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background-color: var(--second-bg-color);
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* quality */

.quality-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.quality-text {
  font-size: 14px;
  line-height: 1.71;
}
.teamate-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.teamate-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* button */
.primary-button {
  background-color: var(--accent-color);
  cursor: pointer;
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
